APP_NAME=MarioBET
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://seusite.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mariobet
DB_USERNAME=root
DB_PASSWORD=

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL="${APP_URL}/auth/google/callback"

EFI_CLIENT_ID=
EFI_CLIENT_SECRET=
EFI_CHAVE_PIX=
EFI_CERT_PASSWORD=
EFI_CERT_PATH=
EFI_KEY_PATH=
EFI_SANDBOX=false

GATEWAY_SELECTED=efi
